# ============================
# All ignore
# ============================
/*
/.**

# ============================
# Allow List (dotfiles)
# ============================
!/.config/
!/.config/fish
!/.config/fish/**
!/.config/karabiner/
!/.config/karabiner/assets/
!/.config/karabiner/assets/**
!/.vimrc
!/.README.md
!.gitignore

# ============================
# Allow List (Other Folder)
# ============================
!/bin/
!/bin/**
!/doc
!/doc/**
!/font
!/font/**
!init.sh
